body {
	background-image: url('../slike/igra1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#main {
	margin-top: 100px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#rezultati {
	display: flex;
	flex-flow: row;
}
#igrac1text {
	margin-right: 30px;
	margin-left: 70px;
}
input {
	margin-bottom: 25px;
	text-align: center;
	width: 150px;
}
label {
	text-align: center;
	width: 150px;
	color: white;
	font-size: 25px;
	font-weight: 600px;
}
#labele {
	display: flex;
}
.signal {
	width: 22px;
	height: 22px;
	border-radius: 11px;
	vertical-align: center;
	margin-top: 10px;
}
#button1 {
	margin-left: 70px;
	margin-right: 0px;
}
#label1 {
	margin-right: 10px;
	margin-left: 0px;
	padding: 0;
}
#tabla {
	width: 500px;
}
button {
	/* da ne pomjera buton nadole kad se doda tekst */
	vertical-align: top;
}
.butoni {
	width: 80px;
	margin-right: 15px;
	margin-bottom: 15px;
	height: 100px;
	padding: 0;
	font-size: 30px;
}
.fotke {
	width: 80px;
	height: 100px;
}

@media only screen and (max-width: 1000px) {
	#main {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 520px) {
	#main {
		margin-top: 30px;
	}
	#tabla {
		width: 320px;
	}
	#igrac1text {
		margin-right: 40px;
		margin-left: 15px;
	}
	input {
		margin-bottom: 20px;
		text-align: center;
		width: 110px;
	}
	label {
		text-align: center;
		width: 110px;
	}
	#label1 {
		margin-right: 40px;
		margin-left: 15px;
	}
	.butoni {
		width: 55px;
		margin-right: 9px;
		margin-bottom: 9px;
		height: 75px;
	}
	.fotke {
		width: 55px;
		height: 75px;
	}
	.signal {
		width: 18px;
		height: 18px;
		border-radius: 9px;
		vertical-align: center;
		margin-top: 10px;
	}
	#button1 {
		margin-left: 18px;
		margin-right: 0px;
	}
	#label1 {
		margin-right: 12px;
		margin-left: 0px;
		padding: 0;
	}
}
